body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F2414%2F1627%2Ffiles%2FKMBan2_1400x.progressive.jpg%3Fv%3D1518597816&sp=4b09860fdbfe6af8043e61f3c5d440c8');
  background-attachment: fixed;
  background-size: 100%;
}

.header {
  display: flex;
  justify-content: center;
  color: maroon;
  font-size: 45px;
  width: 72%;
  padding-bottom: 10%;
}

.searchBox {
  display: inline-flex;
  justify-content: space-evenly;
  width: 30%;
  border: solid blue 2px;
  margin-left: 5%;
}

#searchBoxRight {
  float: right;
  margin-right: 5%;
}

.inputBox {
  display: inline-flex;
  justify-content: flex-start;
  width: 40%;
}

#addRecipeFieldset {
  margin-left: 5%;
  border: none;
}

#inputForm {
  border: solid greenyellow 5px;
  margin-top: 1%;
  color: purple;
  background-color: rgb(236, 179, 55);
  opacity: 0.8;
  border-radius: 10px;
  margin-left: 6%;
  margin-right: 6%;
}

#addRecipeButton {
  margin-left: 43%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: whitesmoke;
  border: solid green 1px;
  border-radius: 5px;
  font-family: serif;
}

#recipeName {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 15%;
  width: 70%;
  border: solid crimson 1px;
  border-radius: 1em;
  background-color: rgba(250, 235, 215, 0.8);
  color: crimson;
  text-decoration-line: underline;
}

img {
  margin-left: 30%;
  width: 40%;
  height: 40%;
  border-radius: 10%;
  border: solid antiquewhite 2px;
}

.recipe {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  color: rebeccapurple;
  font-size: 40px;
}

.abcd {
  border: solid antiquewhite 2px;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 2em;
}

.title {
  border: solid crimson 1px;
  border-radius: 1em;
  background-color: rgba(250, 235, 215, 0.8);
  color: crimson;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

.recipeBox {
  display: inline-flex;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-left: 1em;
  border: solid antiquewhite 1px;
  border-radius: 1em;
}

.list {
  border: solid crimson 1px;
  border-radius: 1em;
  background-color: rgba(250, 235, 215, 0.6);
  color: crimson;
  padding-left: 1.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: serif;
  min-width: 8.5em;
}

.addRecipeLabel {
  display: flex;
  align-content: center;
  color: whitesmoke;
  width: 15%;
  margin: 0 auto;
  background-color: rgba(164, 33, 0, 0.8);
  border-radius: 3px;
  padding-left: 0.5%;
  font-size: 30px;
}

#searchFieldset {
  background-color: rgba(236, 179, 55, 0.8);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  border: solid turquoise 5px;
  margin-left: 6%;
  margin-right: 6%;
}

input {
  font-size: 1em;
  margin-left: 3%;
  border: solid palevioletred 5px;
}

label {
  font-size: 1em;
  color: blue;
}