body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://s14-eu5.startpage.com/cgi-bin/serveimage?url=https:%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F2414%2F1627%2Ffiles%2FKMBan2_1400x.progressive.jpg%3Fv%3D1518597816&sp=4b09860fdbfe6af8043e61f3c5d440c8');
  background-attachment: fixed;
  background-size: 100%;
}

.header {
  margin-left: 39%;
  text-align: center;
  color: maroon;
  background-color: rgba(255, 235, 205, 0.8);
  font-size: 3.5em;
  padding: 0.5%;
  margin-top: 1%;
  width: 22%;
  border-radius: 1em;
  border: solid maroon 1px;
  font-family: serif;
}

#searchFieldset {
  background-color: rgba(255, 235, 205, 0.8);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  border: solid maroon 1px;
  margin-left: 6%;
  margin-right: 6%;
}

.searchBox {
  display: flex;
  width: 100%;
  text-align: center;
  margin-left: 0.5%;
  color: maroon;
  font-size: 1.8em;
  font-weight: bold;
  font-family: serif;
  padding-bottom: 0.2em;
  padding-top: 0.3em;
}

#searchBoxRight {
  margin-right: 0.5%;
}

.searchLabel {
  width: 47em;
}

.searchInput {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  padding: 0.5em;
  font-size: 1.2em;
}

input {
  font-size: 1em;
  min-width: 20em;
  border-radius: 0.5em;
  border: solid maroon 1px;
}

.inputBox {
  display: inline-flex;
  justify-content: center;
  width: 35%;
  padding: 0.5%;
}

#addRecipeFieldset {
  margin-left: 5%;
  border: none;
}

.addRecipeTitle {
  color: maroon;
  font-family: serif;
  text-align: center;
  padding: 1%;
  width: 14%;
  margin: 0 auto;
  background-color: rgba(255, 235, 205, 0.8);
  border-radius: 0.8em;
  border: solid maroon 1px;
  font-size: 2em;
}

#inputForm {
  border: solid maroon 1px;
  margin-top: 1%;
  background-color: rgba(255, 235, 205, 0.8);
  border-radius: 10px;
  margin-left: 6%;
  margin-right: 6%;
}

.addRecipeLabel {
  font-size: 1.2em;
  color: maroon;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#addRecipeButton {
  margin-left: 43%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: whitesmoke;
  border: solid maroon 1px;
  border-radius: 5px;
  font-family: serif;
}

#recipeName {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  margin-left: 30%;
  width: 40%;
  border: solid maroon 1px;
  border-radius: 1em;
  background-color: rgba(255, 235, 205, 0.8);
  color: maroon;
  text-decoration-line: underline;
}

img {
  margin-left: 30%;
  width: 40%;
  height: 40%;
  border-radius: 10%;
  border: solid antiquewhite 2px;
}

.recipe {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  font-size: 40px;
}

.container {
  border: solid blanchedalmond 2px;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 2em;
}

.title {
  border: solid maroon 1px;
  border-radius: 1em;
  background-color: rgba(255, 235, 205, 0.8);
  color: maroon;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.7em;
}

.recipeBox {
  display: inline-flex;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  border: solid antiquewhite 1px;
  border-radius: 1em;
}

.list {
  border: solid maroon 1px;
  border-radius: 1em;
  background-color: rgba(255, 235, 205, 0.8);
  color: maroon;
  padding-left: 1.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: serif;
  min-width: 20em;
  font-size: 0.5em;
}


